<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<h2>Comments</h2>

<% comments.forEach(comment=>{ %>
  <div class="commentbox">
    <div class="comment"><%= comment.name %></div>
    <%= comment.content %>
  </div>
  <% }) %>

  <hr />

  <h4>Comment on this post</h4>

  <form action="/articles/:id/comments" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <textarea type="text" class="form-control" id="content" name="content" required></textarea>
    </div>

    <div class="form-group">
      <input hidden type="number" name="articleId" value="<%= article.id %>">
    </div>

    <input type="submit" class="btn btn-primary">

  </form>

<hr />

<a href="/">&larr; Back Home</a>
